/*
 * --------------------------------------------------------
 * Nextflow config file for MITOS reference databases
 * --------------------------------------------------------
 *
 * Defines sources for the different versions of the refseq
 * databases used by the MITOS CLI version
 */

params {
    mitos_ref_databases {
        'refseq63f' {
            title = "Reference data for MITOS2: RefSeq63 Fungi"
            file = "https://zenodo.org/record/4284483/files/refseq63f.tar.bz2"
            citation = "https://dx.doi.org/10.5281/zenodo.4284483"
            version = "0.3"
        }
        'refseq63m' {
            title = "Reference data for MITOS2: RefSeq63 Metazoa"
            file = "https://zenodo.org/record/4284483/files/refseq63m.tar.bz2"
            citation = "https://dx.doi.org/10.5281/zenodo.4284483"
            version = "0.3"
        }
        'refseq63o' {
            title = "Reference data for MITOS2: RefSeq63 Opisthokonta"
            file = "https://zenodo.org/record/4284483/files/refseq63o.tar.bz2"
            citation = "https://dx.doi.org/10.5281/zenodo.4284483"
            version = "0.3"
        }
        'refseq89f' {
            title = "Reference data for MITOS2: RefSeq89 Fungi"
            file = "https://zenodo.org/record/4284483/files/refseq89f.tar.bz2"
            citation = "https://dx.doi.org/10.5281/zenodo.4284483"
            version = "0.3"
        }
        'refseq89m' {
            title = "Reference data for MITOS2: RefSeq89 Metazoa"
            file = "https://zenodo.org/record/4284483/files/refseq89m.tar.bz2"
            citation = "https://dx.doi.org/10.5281/zenodo.4284483"
            version = "0.3"
        }
        'refseq89o' {
            title = "Reference data for MITOS2: RefSeq89 Opisthokonta"
            file = "https://zenodo.org/record/4284483/files/refseq89o.tar.bz2"
            citation = "https://dx.doi.org/10.5281/zenodo.4284483"
            version = "0.3"
        }
    }
}
