/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withName: BLOBTOOLS {
        ext.filargs = []
        ext.creargs = [
            "--table-fields gc,length,ptilo_cov,bestsumorder_superkingdom,bestsumorder_kingdom,bestsumorder_phylum,bestsumorder_class,bestsumorder_order,bestsumorder_family,bestsumorder_species"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/validation/"},
            pattern: '*_summary.tsv',
            mode: params.publish_dir_mode,
            enabled: !params.skip_validation
        ]
    }

/*  withName: CATFASTA {
        //ext.args = []
        //publishDir = []
    } */

/*     withName: CATREADS {
        //ext.args = []
        //publishDir = []
    } */

/*    withName: CHECKFORMAT {
        //ext.args = []
        //publishDir = []
    } */

    withName: GETORGANELLE {
        ext.args = [
            // Specify word size
            params.getorganelle_wordsize ? "-w ${params.getorganelle_wordsize}" : '',
            // Specific kmer range
            params.getorganelle_kmers ? "-k ${params.getorganelle_kmers}" : '',
            // Specify genometype
            params.getorganelle_genometype ? "-F ${params.getorganelle_genometype}" : '',
            // Specify random seed
            params.getorganelle_rseed ? "--random-seed ${params.getorganelle_rseed}" : '',
            // Specifiy max params
            params.getorganelle_maxreads ? "--max-reads ${params.getorganelle_maxreads}" : "--max-reads inf",
            params.getorganelle_reducereads ? "--reduce-reads-for-coverage ${params.getorganell_reducereads}" : "--reduce-reads-for-coverage inf"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/getorganelle/${meta.id}/" },
            pattern: '*',
            mode: params.publish_dir_mode,
            enabled: true
        ]
    }

/*    withName: GBEXTRACT {
        //ext.args = []
        //publishDir = []
    } */


/*     withName: GETGOREFS {
        //ext.args = []
        //publishDir = []
    } */

/*     withName: SPLITREADS {
        //ext.args = []
        //publishDir = []
    } */

    withName: GOFETCH {
        ext.args = [
            // Specify target organelle
            params.gofetch_target ? "--target ${params.gofetch_target}" : '',
            // Specify target database
            "--db ${params.gofetch_db}",
            // Specify min and max sequences
            "--min ${params.gofetch_minn} --max ${params.gofetch_maxn}",
            // Specify email
            params.gofetch_entrezemail ? "--email ${params.gofetch_entrezemail}" : '',
            // Specify API key
            params.gofetch_entrezapikey ? "--api ${params.gofetch_entrezapikey}" : ''
        ]
         //This will save all fastp outputs to this directory
        publishDir = [
            path: { "${params.outdir}/gofetch/{$taxon}/" },
            pattern: '(database/*.fasta.gz,database/*.gb.gz)',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.gofetch_save_outputs
        ]
    }

    withName: JELLYFISH {
        ext.args = [
            // Specify kmer size
            "-m ${params.genomestats_kmer}",
            // Specify s
            "-s ${params.jellyfish_s}"
        ].join(' ').trim()
        //publishDir = []
    }

    withName: MITOS {
        ext.args = [
            // Specify code
            "-c ${params.mitos_geneticcode}",
            params.mitos_plots ?: "--noplots"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/annotation/" },
                pattern: 'catoutput/*',
                mode: params.publish_dir_mode,
                enabled: !params.skip_annotation,
            ],
            [
                path: { "${params.outdir}/annotation/mitos_full/${meta.id}/" },
                pattern: 'mitosoutput/*',
                mode: params.publish_dir_mode,
                enabled: params.mitos_save_alloutputs
            ]
        ]
    }

    withName: BLAST_BLASTN {
        ext.args = [
            "-outfmt '6 qseqid staxids bitscore std'",
            "-max_target_seqs 10",
            "-max_hsps 1",
            "-evalue 1e-25"
        ].join(' ').trim()
        //publishDir = []
    }

    withName: FASTP {
        ext.args = [
            // adapter options
            params.fastp_disable_adapter_trim ? "--disable_adapter_trimming" : '',
            // length filter options
            params.fastp_length_filter_min ? "--length_required ${params.fastp_length_filter_min}" : "--disable_length_filtering",
            // quality filter options
            //params.fastp_quality_filter_phred || params.fastp_quality_filter_pclim ? '' : "--disable_quality_filtering",
            params.fastp_quality_filter_phred ? "--qualified_quality_phred ${params.fastp_quality_filter_phred}" : '',
            params.fastp_quality_filter_pclim ? "--unqualified_percent_limit ${params.fastp_quality_filter_pclim}" : ''
        ].join(' ').trim()
        //publishDir = []
    }

    withName: FASTQC {
        ext.args = '--quiet'
        //publishDir = []
    }

    withName: GENOMESCOPE2 {
        ext.gsargs = [
            // Specify kmer size
            "-k ${params.genomestats_kmer}",
            // Specify ploidy
            "-p ${params.genomescope2_ploidy}",
            // Set verbosity
            '--verbose'
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/genomestats/" },
            pattern: '*',
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: !params.skip_genomestats
        ]
    }

    withName: MINIMAP2_ALIGN {
        ext.args = [
            "-ax sr"
        ].join(' ').trim()
        ext.args2 = []
        //publishDir = []
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/multiqc" }
        ]
    }

/*     withName: UNTAR {
        //ext.args = []
        //publishDir = []
    } */

}
