/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/genomeskim -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

cleanup = true

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input       = params.pipelines_testdata_base_path + 'genomeskim/samplesheets/samplesheet_test_full.csv'
    blastdbpath = params.pipelines_testdata_base_path + 'genomeskim/data/test_minimal/blastdb_nt_subset/'

    // Parameters
    getorganelle_genometype = 'animal_mt'
    mitos_geneticcode       = 2
    mitos_refdbid           = 'refseq89m'
}
