process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    baseargs = '--random-seed 12345 --max-reads inf --reduce-reads-for-coverage inf '
    withName: 'test_getorganelle_paired_end_animal_mt:GETORGANELLE' {
        ext.args = baseargs + '-F animal_mt'
    }
}
